/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #11402f;
    --color-secondary: #79a637;
    --color-tertiary: #332213;

    --color-bg-primary: #ededed;
    --color-bg-secondary: #a7d9d0;
}
